.appointment-container {
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 20px;
}

select, input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #2E86C1;
}

.doctor-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.doctor-card {
  border: 2px solid #2E86C1;
  padding: 15px;
  width: 220px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.doctor-card.selected {
  background-color: #2E86C1;
  color: white;
}

.slot-container {
  margin-top: 15px;
}

.slot {
  margin: 5px;
  padding: 8px 12px;
  border: 1px solid #2E86C1;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.selected-slot {
  background: #2E86C1;
  color: white;
}

.book-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.message {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}
